.new-expense {
    /* background-color: #a892ee; */
    background-color: #C0A9BD;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    background-color: #39395f;
    color: white;
    border-radius: 12px;
    width: 45%;
    /* margin-right: 2rem */
    margin: 2% 27% 0.1% 1%;
    
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #39395f;
    border-color: none;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }
  